* { /* True for the whole page */
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    background-color: #469cc0;
}
nav {
    background-color: #3A405A;
    padding: 1.5rem;
    text-align: center;
}
a { 
    margin:0.5rem;
    padding: 0.5rem;
    color: white;
    border: 1px solid white;
    text-decoration: none;
}
button {
    border: 1px solid black;
    background-color: #3A405A;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem 0;
    cursor: pointer;
}
main a {
    border: none;
}
header a:hover {
    background-color: #2D728F;
}
button:hover {
    background-color: #2D728F;
}
header {
    position: relative;
    text-align: center;
    background-color: #3A405A;
}
ul {
    list-style-type: none;
}
main {
    text-align: center;
    }
.bed {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #3A405A;
}
#weather {
    display: flex;
    padding: 1rem;
    background-color: #3A405A;
    color: white;
    border-top: #3A405A 1px solid;
    justify-content: space-around;
}
#logo {
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width:100%;
    height: 100%;
    padding-bottom: 11rem;
    object-fit: cover;
}
#about h3{
    margin-top: 1rem;
}
#testimonials p{
    margin: 1rem;
} 
#review {
    background-color: #8FD5A6;
    margin: 1rem;
    padding: 1rem;
    border: 2px
}
#review p{
    margin-bottom: 1rem;
}
#review {
    border: 2px solid #3A405A
}
#home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem ;
}
#home main section {
    background-color: #8FD5A6;
    color: black;
    padding: 1rem;
}
#home section h2 {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}
#home section:last-of-type {
    grid-column: span 2;
    margin-top: 2rem;
}
#guest-rooms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    text-align: center;
    margin: 1rem;
    padding-bottom: 2rem;
}
main section {
    background-color: #8FD5A6;
    border: 2px solid #3A405A;
    padding: 1rem;
    margin: 1rem;
    height: 100%;
}
#title {
    background-color: #3A405A;
    color:white;
    margin: 0;
    padding: 2rem;
}
#guest-rooms img {
    margin: 1rem 0;
}
#guest-rooms li {
    list-style-type:none;
    margin: 1rem;
}
#guest-rooms li:last-of-type {
    margin: 0rem;
}
#nav-toggle {
    margin-left: 1rem;
}
#guest-rooms h2{
    padding-bottom: 1rem;
    border-bottom: #3A405A solid 1px;
}
#eating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
}
#eating section:last-of-type {
    grid-column: span 2;
}
#eating li {
    margin: 1rem;
}
#eating h2 {
    margin: 1rem;
}
#eating img {
    padding-right: 1rem;
}
#spa-treatment img {
    padding-right: 1rem;
}
.food {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 1rem;
}
#spa-treatment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
}
#spa-treatment section:last-of-type {
    grid-column: span 2;

}
.treatment {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 1rem;
}
footer {
    background-color: #3A405A;
    padding: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 3rem;
}
header button {
    background:none;
    border:none;
    color: white;
    font-size: 200%;
    cursor:pointer;
    display: none;
}
header button:focus {
    color:#8FD5A6;
    border: 1px solid #8FD5A6;
}
header li {
    list-style-type: none;
    display: inline;
    margin:1.5rem;
}
nav li a:hover {
    color: lightcyan;
    text-decoration: underline;
} 
@media screen and (max-width:460px){
        #logo {
            padding-bottom: 5rem;
        }
        #home {
            display:inline;
        }
        #home section {
            color: black;
            padding: 1rem;
            border: 1px solid #3A405A;
            margin-bottom: 1rem;
        }
        #home section h2 {
            margin-bottom: 1rem;
            border-bottom: 1px solid #3A405A;
        }
        #home section:first-of-type {
            padding-bottom: 0;
            }
        #home section:last-of-type {
            margin-top: 0;
        }
        #guest-rooms {
            display:block;
        }
        #guest-rooms section {
            color: black;
            padding: 1rem;
            border: 1px solid #3A405A;
            margin-bottom: 1rem;
        }
        #guest-rooms section h2 {
            margin-bottom: 1rem;
            border-bottom: 1px solid #3A405A;
        }
        #guest-rooms section:first-of-type {
            padding-bottom: 0;
            }
        #guest-rooms section:last-of-type {
            margin-top: 0;
        }
        #eating {
            display:inline;
        }
        #eating section {
            color: black;
            padding: 1rem;
            border: 1px solid #3A405A;
            margin-bottom: 1rem;
        }
        #eating section h2 {
            margin-bottom: 1rem;
            border-bottom: 1px solid #3A405A;
        }
        #eating section:first-of-type {
            padding-bottom: 0;
            }
        #eating section:last-of-type {
            margin-top: 0;
        }
        .food {
            padding: 0 1rem 1rem 1rem;
            border: none;
        }
}
@media screen and (max-width:650px){
    header button {
        display:block;
    }
    nav {
        position: absolute;
        top:10%;
        left:0%;
        width:100%;
        z-index: 100;
        background-color: #3A405A;
        flex-direction: column;
        display: none;
    }
    nav.active{
        display:flex;
        flex-direction: column;
    }
    nav li {
        display: block;
        text-align: center;
        margin-right: 0;
    }
    li a {
        display: block;
        padding: 1rem;
        margin: 1rem;
    }
    #feels {
        display: none;
    }
    #lowtemp {
        display: none;
    }
    #hightemp {
        display: none;
    }
}